<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>379418006576-240b2gvmp6keh72ua2l6tgh4l0v08gme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379418006576-240b2gvmp6keh72ua2l6tgh4l0v08gme</string>
	<key>API_KEY</key>
	<string>AIzaSyB4yG7P3oaSFoo6v7ScIOW4YFlVVtF_ZyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>379418006576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delidash</string>
	<key>PROJECT_ID</key>
	<string>deli-dash-server-efc58</string>
	<key>STORAGE_BUCKET</key>
	<string>deli-dash-server-efc58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:379418006576:ios:bbb0cb6cd992a14c</string>
	<key>DATABASE_URL</key>
	<string>https://deli-dash-server-efc58.firebaseio.com</string>
</dict>
</plist>
